:root {
  --body_background: #F5F7FA;
  --body_color: #4E7AC7;
  --font_color: #2B3648;
  transition: all 0.3s ease-in-out;
}

[data-theme="dark"] {
  --body_background: #2B3648;
  --body_color: #4E7AC7;
  --font_color: #F5F7FA;
  transition: all 0.3s ease-in-out;
}